{% extends 'main.html' %}

{% block title %}New Post{% endblock %}

{% block content %}
	<form method='post'>
		<h1 class='main-title'>New Post</h1>
		<div class='form-group'>
			<label for='subject'>Subject:</label>
			<input required class='form-control' type="subject" name="subject" value='{{subject}}'>
		</div>

		<div class='form-group {{ "has-error" if error_message }}'>
			<label for='content'>Content:</label>
			<textarea required rows='20' class='form-control' name='content'>{{content}}</textarea>
		</div>
		{% if error_message %}
			<div class='alert alert-danger' role='alert'>{{error_message}}</div>
		{% endif %}
		<button class='btn btn-primary'>Submit</button>
	</form>
{% endblock %}