{% extends 'main.html' %}

{% block title %}{{ post.subject }}{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/post.css">
{% endblock %}

{% block content %}
	<div class="post-container">
		{% if editing_target == 'post' %}
			<h1 class='main-title'>Edit Post</h1>
			<div class='form-group'>
				<label for='subject'>Subject:</label>
				<input required class='form-control subject-input' type="subject" name="subject" value='{{post.subject}}'>
			</div>

			<div class='form-group {{ "has-error" if error_message }}'>
				<label for='content'>Content:</label>
				<textarea required rows='20' class='content-input form-control' name='content'>{{post.content}}</textarea>
			</div>
			{% if error_message %}
				<div class='alert alert-danger' role='alert'>{{error_message}}</div>
			{% endif %}
			<button class='update-post btn btn-primary'>Update</button>
			<button class='cancel-post-edit btn btn-default'>Cancel</button>
		{% else %}
			<div class='post-heading'>
				<h1 id='post-subject'>{{post.subject}}</h1>
				<div class="post-settings">				
					{% if post.author.username == user.username %}
						<span class="glyphicon glyphicon-pencil edit-post btn-lg" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove delete-post btn-lg" aria-hidden="true"></span>
					{% else %}
						{% if user_key in post.likes %}
							<span class="glyphicon glyphicon-heart btn-lg like-post" aria-hidden="true"></span>
						{% else %}
							<span class="glyphicon glyphicon-heart-empty btn-lg like-post" aria-hidden="true"></span>
						{% endif %}
							<span>{{post.likes|length}}</span>
					{% endif %}	
				</div>
			</div>
			<p id='post-content'>{{post.content}}</p>
		{% endif %}
	</div>
	{% if authenticated and editing_target != 'post' %}
		<form method='post' action='{{post.key().id()}}/comment'>
			<h3>Add a Comment</h3>
			<div class='form-group {{ "has-error" if error_message }}'>
				<textarea required rows='10' class='form-control' name='content'>{{content}}</textarea>
			</div>
			{% if error_message %}
				<div class='alert alert-danger' role='alert'>{{error_message}}</div>
			{% endif %}
			<button class='btn btn-primary'>Submit</button>
		</form>
	{% endif %}
	<div class="comments">
		{% for comment in comments %}
			<div class="comment well" id='{{comment.key().id()}}'>
				<div class="comment-header">
					<h3 class="comment-author">
						{{comment.author.username}}					
					</h4>
					<p class="comment-time">
						{{comment.created.strftime('%Y-%m-%d %H:%M')}}					
					</p>
					{% if comment.author.username == user.username %}
						<div class="comment-settings-default">
							<span class="glyphicon glyphicon-pencil edit-comment" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-remove delete-comment" aria-hidden="true"></span>
						</div>
						<div class="comment-settings-editing hide">
							<button class='update-comment btn btn-primary'>Update</button>
							<button class='cancel-comment-edit btn btn-default'>Cancel</button>
						</div>
					{% endif %}
				</div>
				<p class="comment-content">{{comment.content}}</p>
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript" src='/js/post.js'></script>
{% endblock %}