{% extends 'main.html' %}

{% block title %}Index{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}

{% block content %}
	<h1 class='text-center blog-title'>{{author}}'s Blog Entries</h1>
	<hr>
	{% for post in posts %}
		<div class="blog-entry">
			<div class='blog-preview-header'>
				<h1><a href=/post/{{post.key().id()}}>{{post.subject}}</a></h1>
			</div>
			<div>{{post.content[:1500] + '...'}}</div>
		</div>
		<hr>
	{% endfor %}
{% endblock %}